.cards {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid black;
    border-radius: 15px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card a {
    width: min-content;
    font-size: large;
    word-break: keep-all;
    text-align: center;
    margin: 5px;
}

.card img {
    width: 360px;
    margin: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}