<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tags.css" rel="stylesheet" type="text/css" />
    <title>{{ title }}</title>
</head>

<body>
    <div class="tags">
        {% for tag in tags %}
        <div class="tag">
            <a href="/cards/{{ tag.id }}">{{ tag.name }}</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>